{% extends 'base.html' %} {% block title %}Login | SignUp{% endblock title %} {%
block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login_signup.css') }}"
/>
{% endblock style %} {% block content %}
<section class="forms-section">
  <h1 class="section-title">Login & Signup Forms</h1>
  <div class="forms">
    <div class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login">
        Login
        <span class="underline"></span>
      </button>
      <form method="post" class="form form-login" action="/auth/login">
        <fieldset>
          <legend>Please, enter your email and password for login.</legend>
          <div class="input-block">
            <label for="login-email">E-mail</label>
            <input id="login-email" type="email" name="l-email" required />
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input id="login-password" type="password" name="l-password" required />
          </div>
        </fieldset>
        <button type="submit" class="btn-login">Login</button>
      </form>
    </div>
    <div class="form-wrapper">
      <button type="button" class="switcher switcher-signup">
        Sign Up
        <span class="underline"></span>
      </button>
      <form method="post" class="form form-signup" action="/auth/signup">
        <fieldset>
          <legend>
            Please, enter your email, password and password confirmation for
            sign up.
          </legend>
          <div class="input-block">
            <label for="signup-username">Username</label>
            <input id="signup-username" type="text" name="s-username" required />
          </div>
          <div class="input-block">
            <label for="signup-email">E-mail</label>
            <input id="signup-email" type="email" name="s-email" required />
          </div>
          <div class="input-block">
            <label for="signup-password">Password</label>
            <input id="signup-password" type="password" name="s-password" required />
          </div>
        </fieldset>
        <button type="submit" class="btn-signup">Sign Up</button>
      </form>
    </div>
  </div>
</section>
{% endblock content %} {% block scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/login_signup.js') }}"
></script>
{% endblock scripts %}
